// Set $theme variable so that fozzie doesn't complain when vars are pulled in
// n.b. This isn't used currently (unless there are theme specific vars from fozzie)
// The theme is handled via a data-attribute on the component
$theme: 'jet' !default;

@import  '~@justeat/fozzie/src/scss/fozzie';

/**
 * Component Variables
 */
$footer-bgColor            : $grey--light !default;
$footer-bgLight            : $grey--lighter !default;
$footer-textColor          : $color-text !default;
$footer-borderColor        : $color-border !default;
$footer-chevronColor       : $grey--darkest !default;
$footer-socialIconColor    : $grey--darkest !default;

@mixin theme($type) {
    [data-theme-footer="#{$type}"] & {
        @content;
    }
}
