@use '@justeat/fozzie/src/scss/fozzie' as f;
@forward 'headings';
@forward 'icons';
@forward 'lists';

/**
 * Component Variables
 */
 $footer-bgColor         : f.$color-container-strong !default;
 $footer-bgLight         : f.$color-container-subtle !default;
 $footer-textColor       : f.$color-content-default !default;
 $footer-borderColor     : f.$color-border-strong !default;
 $footer-chevronColor    : f.$color-content-interactive-tertiary !default;
 $footer-socialIconColor : f.$color-content-interactive-tertiary !default;
