$footer-heading-font-size  : 'heading-s';

.c-footer-heading {
    @include font-size($footer-heading-font-size);
    font-family: $font-family-base;
    font-weight: $font-weight-headings;
    padding: spacing(x2);
    padding-left: 0;
}

.c-footer-heading--shortBelowWide {
    @include media('<wide') {
        padding: 0 0 spacing();
    }
}

.c-footer-heading--button {
    align-items: center;
    background: none;
    border-style: none;
    color: $color-headings;
    display: flex;
    font-weight: $font-weight-headings;
    justify-content: space-between;
    margin: 0;
    padding: spacing(x2);
    text-align: left;
    width: 100%;
    @include font-size($footer-heading-font-size);

    @include media('<wide') {
        cursor: pointer;
    }

    @include media('>=wide') {
        padding: 0;
    }
}
