@use '@justeat/fozzie/src/scss/fozzie' as f;

$footer-heading-font-size  : 'heading-s';

.c-footer-heading {
    @include f.font-size($footer-heading-font-size);
    font-family: f.$font-family-base;
    font-weight: f.$font-weight-headings;
    padding: f.spacing(d);
    padding-left: 0;
}

.c-footer-heading--shortBelowWide {
    @include f.media('<wide') {
        padding: 0 0 f.spacing();
    }
}

.c-footer-heading--button {
    align-items: center;
    background: none;
    border-style: none;
    color: f.$color-content-default;
    display: flex;
    font-weight: f.$font-weight-headings;
    justify-content: space-between;
    margin: 0;
    padding: f.spacing(d);
    text-align: left;
    width: 100%;
    @include f.font-size($footer-heading-font-size);

    @include f.media('<wide') {
        cursor: pointer;
    }

    @include f.media('>=wide') {
        padding: 0;
    }

    &:focus,
    &:focus-visible {
        @extend %u-elementFocus;
    }
}
