// Set $theme variable so that fozzie doesn't complain when vars are imported below
// n.b. This variables isn't actually used (unless there are theme specific vars from fozzie)
// Instead, the theme is handled via a data-attribute on the component (via the `@mixin theme()` below)
$theme: 'jet' !default;

@import '~@justeat/fozzie/src/scss/fozzie';

$form-input-bg : $color-container-default;
$form-input-bg--hover : darken($form-input-bg, $color-hover-01);

$form-input-bg--disabled : $color-disabled-01;
$form-input-textColour--disabled : $color-content-disabled;
$form-input-borderColour--disabled : $color-disabled-01;
