.c-takeawaypayActivation-icon {
    transform: translate(10%);
    margin-top: - spacing(f);
    width: 150px;
}

.c-takeawaypayActivation-title {
    @include font-size(subheading-s);
    margin-top: spacing(d);
    padding-top: 0;
}

.c-takeawaypayActivation-description {
    @include font-size(body-l);
}

.c-takeawaypayActivation-email {
    font-weight: $font-weight-bold;
}

.c-takeawaypayActivation-actions {
    padding-top: spacing(e);
}
