.c-takeawaypayActivation-icon {
    transform: translate(10%);
    width: 125px;
}

.c-takeawaypayActivation-title {
    @include font-size(subheading-s);
    padding-top: spacing(x2);
}

.c-takeawaypayActivation-description {
    @include font-size(body-l);
}

.c-takeawaypayActivation-email {
    font-weight: $font-weight-bold;
}

.c-takeawaypayActivation-actions {
    padding-top: spacing(x3);
}