@use '@justeat/fozzie/src/scss/fozzie' as f;

.c-takeawaypayActivation-icon {
    transform: translate(10%);
    margin-top: - f.spacing(f);
    width: 150px;
}

.c-takeawaypayActivation-title {
    @include f.font-size(subheading-s);
    margin-top: 0;
    padding-top: 0;
}

.c-takeawaypayActivation-description {
    @include f.font-size(body-l);
}

.c-takeawaypayActivation-email {
    font-weight: f.$font-weight-bold;
}

.c-takeawaypayActivation-actions {
    padding-top: f.spacing(e);
}
