@import '@justeat/fozzie/src/scss/fozzie';

/**
 * Component Variables
 */
$header-logo-color                 : $color-support-brand-01;
$header-logo-color--alt            : $color-interactive-inverse;

$header-height--narrow              : 56px;
$header-button--height              : $header-height--narrow;
$header-button--width               : 56px;
$header-height                      : 80px;
$header-bg                          : $color-container-default;
$header-separator                   : 1px;
$header-border-color                : $color-border-subtle;
$header-box-shadow                  : $elevation-04;
$header-buttonIcon-color            : $color-interactive-primary;
$header-buttonCount-bg              : $color-interactive-primary;
$header-buttonCount-color           : $color-content-interactive-primary;
$header-buttonCount-borderColor     : $color-white;

$header--transparent-gradient-color : $color-black;
$header--transparent-gradient       : 115px;
$header--transparent-opacity        : 0.7;


// removes scroll
.is-navInView {
    @include media('<=mid') {
        overflow: hidden;

        body {
            position: fixed;
            width: 100%;
            padding-top: $header-height--narrow;
        }
    }
}

// If the header is already fixed/absolute (like when the header is transparent)
// then the content doesn't need to be padded down when the nav comes into view, as it's already flush with the top of the screen
// This is added in the f-header JS
.is-navInView--noPad {
    body {
        padding-top: 0;
    }
}
