// Set $theme variable so that fozzie doesn't complain when vars are pulled in
// n.b. This isn't used currently (unless there are theme specific vars from fozzie)
// The theme is handled via a data-attribute on the component
$theme: 'jet' !default;

@import '~@justeat/fozzie/src/scss/fozzie';

/**
 * Component Variables
 */
$header-logo-color                 : $color-interactive-brand;
$header-logo-color--alt            : $color-white;

$header-height--narrow              : 48px;
$header-button--height              : $header-height--narrow;
$header-button--width               : 56px;
$header-height                      : 76px;
$header-bg                          : $color-white;
$header-separator                   : 1px;
$header-separator                   : 4px;
$header-border-color                : $color-border-subtle;
$header-box-shadow                  : 0 3px 4px 0 rgba(0, 0, 0, 0.12);
$header-buttonIcon-color            : $color-interactive-primary;
$header-buttonCount-bg              : $color-interactive-primary;
$header-buttonCount-color           : $color-white;
$header-buttonCount-borderColor     : $color-white;

$header--transparent-gradient-color : $color-black;
$header--transparent-gradient       : 115px;
$header--transparent-opacity        : 0.7;

@mixin theme($type) {
    [data-theme-header="#{$type}"] & {
        @content;
    }
}

// removes scroll
.is-navInView {
    @include media('<=mid') {
        overflow: hidden;

        body {
            position: fixed;
            width: 100%;
            padding-top: $header-height--narrow;
        }
    }
}

// If the header is already fixed/absolute (like when the header is transparent)
// then the content doesn't need to be padded down when the nav comes into view, as it's already flush with the top of the screen
// This is added in the f-header JS
.is-navInView--noPad {
    body {
        padding-top: 0;
    }
}
