@import './common.scss';

/**
* Global Page Navigation
* =================================
* Styles relating to the global site navigation
*
*/

$nav-text-size                     : 'body-l';
$nav-text-size--narrow             : 'body-l';
$nav-text-weight                   : $font-weight-bold;
$nav-text-color                    : $color-content-link;
$nav-text-color--hover             : darken($color-content-link, $color-hover-01);
$nav-text-color--narrow            : $color-interactive-primary;
$nav-text-color--transparent       : $color-content-link-inverse;
$nav-text-subFont                  : $font-family-base;

$nav-transition-duration           : 250ms;

$nav-trigger-width                 : 56px;
$nav-trigger-height                : 56px;
$nav-trigger-focus-color           : $color-content-interactive-secondary;
$nav-trigger-focus-bg              : $color-interactive-secondary;

$nav-popover-width                 : 300px;
$nav-popover-transition-delay      : 200ms;
$nav-popover-transition-duration   : 200ms;

$countrySelector-flag-width        : 21px;
$countrySelector-flag-height       : 21px;

$nav-featureLinkIcon-width         : 24px;
$nav-featureLinkIcon-height        : 24px;

$nav-icon-color                    : $color-interactive-primary;
$nav-icon-color--transparent       : $color-interactive-inverse;
$nav-icon-color--mobileWhiteBg     : $color-content-interactive-secondary;
$nav-icon-size                     : 24px;

$nav-toggleIcon-left               : spacing(d);
$nav-toggleIcon-width              : 21px;
$nav-toggleIcon-height             : 2px;
$nav-toggleIcon-borderRadius       : 1px;
$nav-toggleIcon-color              : $nav-icon-color;
$nav-toggleIcon-color--transparent : $nav-icon-color--transparent;
$nav-toggleIcon-bg                 : transparent;
$nav-toggleIcon-space              : 5px;

@mixin nav-container-visible () {
    overflow-y: auto;
    left: 0;
    opacity: 1;
    z-index: zIndex(high);
    transition: opacity $nav-transition-duration ease-in-out,
        z-index 0s linear;
}

// Global site-wide navigation
.c-nav--global {
    @include media('>mid') {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
    }
}

// we have a nav container so that we don’t have to make the inner list 100% height
// this is so we can position the logout button last on mobile
.c-nav-container {
    @include media('<=mid') {
        position: fixed;
        top: $header-height--narrow;
        left: -99999px;
        width: 100%;
        padding: 0;
        height: calc(100% - (#{$header-height--narrow}));
        border-top: $header-separator solid $header-border-color;
        background: $color-container-default;
        z-index: -1;
        opacity: 0;
        transition: opacity $nav-transition-duration ease-in-out,
            z-index 0s linear $nav-transition-duration,
            left 0s linear ($nav-popover-transition-delay + $nav-popover-transition-duration);

        &.is-visible {
            @include nav-container-visible();
        }
    }
}

.c-nav-list {
    position: relative;
}

.c-nav-list,
.c-nav-popoverList {
    margin-top: 0;
    margin-left: 0;
    list-style: none;
    list-style-image: none;
    padding: 0;

    & > li {
        margin-bottom: 0;

        &:before {
            content: none;
        }
    }

    @include media('<=mid') {
        display: flex;
        flex-direction: column;
    }
}

.c-nav-list-link {
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;

        @include media('>mid') {
            color: $nav-text-color--hover;
            text-decoration: underline;

            .c-header--transparent .c-nav-popoverList & {
                color: inherit;
            }
        }
    }
}

.c-nav-list-btn {
    background: transparent;
    border: 0;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.c-nav-list-icon--flag {
    height: $countrySelector-flag-height;
    width: $countrySelector-flag-width;
    display: flex;
    float: left;
    margin: spacing(c) spacing(d);
}

.c-nav-list-icon--feature-flag {
    height: $countrySelector-flag-height;
    width: $countrySelector-flag-width;
}

.c-nav-popoverList--twoColumns {
    @include media('>mid') {
        column-count: 2;
    }
}

// Navigation Trigger
// This is the checkbox that controls the menu active state without JS via :checked
.c-nav-trigger {
    position: absolute;
    width: $nav-trigger-width;
    height: $nav-trigger-height;
    top: -100px;
    left: -100px;

    @include media('>mid') {
        display: none;
    }

    &:checked ~ .c-nav-container {
        @include media('<=mid') {
            @include nav-container-visible();
        }
    }

    &:focus ~ .c-nav-toggle {
        background-color: $nav-trigger-focus-bg;
        box-shadow: 0 0 6px 0 $nav-trigger-focus-color;

        .c-header--transparent & {
            background-color: transparent;
        }
    }
}

.c-nav-list-link {
    text-decoration: none;
    font-family: $nav-text-subFont;

    @include media('<=mid') {
        display: flex;
        float: center;
        margin-left: spacing(h);
        padding: spacing(c) spacing(d) spacing(c) 0;
        color: $nav-text-color;
        @include font-size($nav-text-size);
        font-weight: 300;
    }

    @include media('>mid') {
        font-weight: $nav-text-weight;
        margin: 0;
        padding: 0;
    }
}

// TODO: MAKE THIS NOT USE FLOATS
// global modifier for list items horizontally aligned
.c-nav-list-item--horizontallyAlignedAboveMid {
    @include media('>mid') {
        float: left;
        padding: 28px spacing(d);
    }
}

.c-nav-list-link-with-border {
    border-bottom: 1px solid $color-border-default;
}

.c-nav-list-link--alt {
    @include media('>mid') {
        color: $nav-text-color--transparent;
    }
}

.c-nav-list-link--country-selector {
    @include media('>mid') {
        text-decoration: none;
        display: flex;
        float: center;
        margin-left: spacing(h);
        padding: spacing(c) spacing(d) spacing(c) 0;
        color: $nav-text-color;
        @include font-size($nav-text-size);
        font-weight: 300;
    }
    &:hover {
        text-decoration: none;
    }
}

.c-nav-list-link--transparent,
.c-nav-list-link--alt {
    @include media('>mid') {
        &:hover,
        &:focus {
            color: $nav-text-color--transparent;
        }
    }
}

.has-sublist {
    // ensures the dropdown/popover is relative to the hover element, on wider views
    @include media('>mid') {
        position: relative;
        cursor: pointer;
    }
}

.c-nav-popover {
    @include media('>mid') {
        min-width: 300px;
        position: absolute;
        top: 100%;
        right: 99999px; // offscreen, so can’t ever be hovered over by default
        opacity: 0;
        z-index: -1;
        transition: opacity $nav-popover-transition-duration ease-in-out $nav-popover-transition-delay,
                    z-index 0s linear ($nav-popover-transition-delay + $nav-popover-transition-duration),
                    right 0s linear ($nav-popover-transition-delay + $nav-popover-transition-duration);

        // display the popover when our parent item is hovered(recieved class .open)
        .has-sublist.is-open & {
            opacity: 1;
            z-index: zIndex(high);
            right: 0;

            transition: opacity $nav-popover-transition-duration ease-in-out,
                        z-index 0s linear;
        }

        // tooltip arrow
        &:before {
            right: 10%;
        }
    }
}

.c-nav-popover.c-nav-popover--countrySelector {
    @include media('>mid') {
        margin-top: spacing(e);
        // tooltip arrow
        &:before {
            right: 4%;
        }
    }
}
