// Add styles here so it can be injected first via vue.config.js.

// mixin to apply the same colour for the border and for background of the button
@mixin background-color($color) {
    background-color: $color;
}
