// Set $theme variable so that fozzie doesn't complain when vars are imported below
// n.b. This variables isn't actually used (unless there are theme specific vars from fozzie)
// Instead, the theme is handled via a data-attribute on the component (via the `@mixin theme()` below)
$theme: 'jet' !default;

@import  '~@justeat/fozzie/src/scss/fozzie';

$skeleton-loader-heading-height: spacing(x4);
$skeleton-loader-text-height: spacing(x2);
$skeleton-loader-bone-background-color: $grey--mid;
$skeleton-loader-image-height: spacing(x8);
