@mixin card-container {
    width: 100%;
    text-decoration: initial;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &,
    &:hover,
    &:focus {
      color: currentColor;
    }
}

@mixin card-container-wrapped {
  display: flex;
  flex-direction: column;
  flex: 0 0 40%;
  margin: 0 spacing() spacing(x3) 0;
  width: 100%;

  @include media('>=narrowMid') {
    margin: 0 spacing() spacing(x3);
  }
}

@mixin card-bg-image {
  width: 100%;
  background-repeat: repeat;
  background-size: cover;
  background-color: $color-container-subtle;
  background-position: center;
  border-radius: $radius-rounded-c $radius-rounded-c 0 0;
}
