@mixin skeletonLoader () {
    height: 1.25em;
    border-radius: 100px;
    position: relative;
    overflow: hidden;

    // only animate for users that have not set any reduced motion preferences on their device
    @media screen and (prefers-reduced-motion: no-preference) {
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: translateX(-100%);
            background-image: linear-gradient(90deg, rgba($color-white, 0) 0, rgba($color-white, 0.2) 20%, rgba($color-white, 0.5) 60%, rgba($color-white, 0));
            animation: skeletonLoadingShimmer 2s infinite;
        }
    }
}
