// Set $theme variable so that fozzie doesn't complain when vars are pulled in
// n.b. This isn't used currently (unless there are theme specific vars from fozzie)
// The theme is handled via a data-attribute on the component
$theme: 'jet' !default;

@import '@justeat/fozzie/src/scss/fozzie';

/**
 * Global variables which need to be changed depending on the theme (TODO: move to separate component)
//  */
@mixin theme($type) {
    [data-theme="#{$type}"] & {
        @content;
    }
}
