
@import './common';

$search-button-bgColor: $color-primary;
$search-button-bgColor--hover: $orange--dark;
$search-button-bgColor--active: $orange--darkest;
$search-height-small: 56px;
$search-height-mid: 60px;

// Ask design to look at the design to see if we can normalise styles, we can then pull
// out most of the styles from here & probably the individual components so we can pull them in instead.
.c-search-placeholder {
    position: absolute;
    top: spacing();
    left: spacing(x2);
    text-align: left;
    transition: all 0.3s;
    cursor: text;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    right: spacing(x2);

    @include media('>=narrowMid') {
        top: 50%;
        transform: translateY(-50%);
    }
}

.c-search-input,
.c-search-placeholder {
    @include media('<narrowMid') {
        .has-geo & {
            right: spacing(x4);
        }
        .has-geo.has-streetNumber & {
            right: 80px;
        }
    }
}

.c-search-label {
    position: relative;
    border: 1px solid $grey--light;
    display: flex;
    width: 100%;
    align-items: center;
    height: $search-height-small;
    border-radius: $border-radius 0 0 $border-radius;
    @include font-size(body-s, false);
    font-weight: $font-weight-base;
    line-height: 1.3;

    @include media('>=narrow') {
        @include font-size(body-l);
        height: $search-height-mid;
    }

    &.has-error {
        border-bottom: 1px solid $red;
    }
}

.c-search-input,
.c-search-streetInput {
    @include font-size(body-l);
    line-height: 1.25;
    border: none;
    outline: none;
    padding: spacing();
    font-family: $font-family-base;
    background-color: transparent;
}

.c-search-input {
    box-sizing: border-box;
    padding: 28px spacing(x2) spacing();
    width: 100%;
    font-weight: $font-weight-bold;
    height: $search-height-small;

    &::placeholder {
      text-transform: none;
    }

    // Add padding to input when new elements overlap field
    .has-streetNumber & {
      padding-right: 60px;
    }

    @include media('>=narrow') {
      height: $search-height-mid;
    }

    &:focus + .c-search-placeholder,
    &.is-notEmpty + .c-search-placeholder {
        @include font-size(caption);
        transform: translateY(0);

        @include media('>=narrowMid') {
            @include font-size(body-s, false);
            transform: translateY(-110%);
        }
    }
}

// @Todo - Move to Fozzie.
@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(359deg);
    }
}

.c-spinner-wrapper {
    position: absolute;
    right: 0;
}

.c-spinner {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    border: 3px solid $orange;
    border-top: 3px solid rgba(243, 109, 0, 0.2);
    border-radius: 50%;
    animation: spin 1s linear 0s infinite;
}
